body {
    background-image: url(Fondo.jpg);
}

h1::before {
    content: "💧"
}

h1::after {
    content: "💧"
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: Impact;
    font-size: 100px;
    width: auto;
    height: auto;
    background-color: rgb(173, 216, 230);
    background-position: center;
    border-radius: 100px;
    border: 5px solid blue;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: Courier;
    width: 500px;
    height: 30px;
    background-color: bisque;
    background-position: center;
    border: 3px solid rgb(70, 67, 67);
    border-radius: 20px;
    padding: 15px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

div {
    display: flex
}

label {
    font-weight: bold;
}

fieldset {
    border: solid rgb(70, 67, 67) 3px;
    background-color: cornsilk;
    border-radius: 20px;
}

ul {
    display: flex;
    gap: 50px;
    list-style: none;
    justify-content: center;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial;
    font-size: 15px;
    padding: 15px;
    width: 150px;
    background-color: lightsteelblue;
    border-radius: 5px;
    text-align: center;
    border: 2px solid black;
}

footer {
    border: solid rgb(51, 50, 50) 3px;
    background-color: rgb(216, 236, 198);
    border-radius: 20px;
    padding: 20px;
    width: auto;
    margin-top: 30px;
}

#nav {
    text-align: center;
    list-style-position: inside;
}

li:hover {
    color: grey
}

p {
    text-align: center;

}

/*Diseño para las imágenes*/

img {
    border: solid rgb(70, 67, 67) 3px;
    border-radius: 50px;
}

#png1 {
    border: none;
    width: 150px;
}

/*Diseño para los formularios y "Acerca de"*/

div {
    justify-content: center;
}

#RegistroFormulario,
#InicioFormulario,
#Crear_Actividad,
#Modificar_Actividad {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    width: 400px;
}

#Acercade {
    width: 600px;
}

#Crear_Actividad {
    margin: auto;
}

input,
button,
select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #c9c7c7;
}

.boton-funcional {
    background-color: rgb(173, 216, 230) !important;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0) !important;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #2078d6;
    color: white;
    padding: 10px;
    margin-top: 15px;
}

button[type="button"] {
    cursor: pointer;
    background-color: #2078d6;
    color: white;
    padding: 10px;
    margin-top: 15px;
}

input:invalid {
    border: 2px solid rgb(255, 150, 150);
    color: red;
}

.Guia {
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}

#Proyecto {
    text-align: center;
}

p {
    text-align: justify;
}

/*aside desing*/

aside {
    border: solid rgb(70, 67, 67) 3px;
    background-color: cornsilk;
    border-radius: 20px;
    width: 270px;
    height: 380px;
    margin-left: 30px;
    padding: 15px;
    background-color: lightcyan;
}

aside p {
    text-align: justify;
}

aside img {
    display: block;
    margin: auto;
}

.Descripcion {
    text-decoration: underline;
    font-size: 22px;
    text-align: center;
}

/*Style for showing or hiding sections with js*/

#div2,
#div3,
#div4,
#div5,
#Crear,
#TituloRegistro,
#TituloAcercade,
#TituloCrearActividad,
#TituloModificar,
#TituloListado {
    display: none;
}